{% load static %}
<div class="content-container">
    <h1>设备仪器详情</h1>
    <div class="form-container">
        <form data-id="{{ device.id }}" id="device-update-form" onsubmit="deviceUpdateSubmit(event)">
            {% csrf_token %}
            <div class="field">
                <label for="{{ form.state.id_for_label }}">状态</label>         
                {{ form.state }}
            </div> 
            <button class="btn" type="submit">修改状态</button>
        </form>
    </div>
    <div id="device-container">
        <div class="row">
            <h5>设备名：</h5>
            <h5>{{ device.equipment.name }}</h5>
        </div>
        <div class="row">
            <h5>设备型号：</h5>
            <h5>{{ device.equipment.model }}</h5>
        </div>
        <div class="row">
            <h5>硬件编号：</h5>
            <h5>{{ device.equipment.hardware_serial }}</h5>
        </div>
        <div class="row">
            <h5>软件编号：</h5>
            <h5>{{ device.equipment.software_serial }}</h5>
        </div>
        <div class="row">
            <h5>仓库：</h5>
            <h5>{{ device.warehouse }}</h5>
        </div>
        <div class="row">
            <h5>操作员：</h5>
            <h5>{{ device.operator }}</h5>
        </div>
        <div class="row">
            <h5>入库时间：</h5>
            <h5>{{ device.inbound_date|date:"Y-m-d" }}</h5>
        </div>
        <div class="row">
            <h5>维护人：</h5>
            <h5>{{ device.maintainer }}</h5>
        </div>
        <div class="row">
            <img class="inbound-image" src="{{ device.inbound_image.url }}" />
        </div>
    </div>
    
</div>





            