<div class="content-container">
  <h1>"{{ warehouse.name }}"库存情况</h1>
  <button class="btn" onclick="warehouseList()">返回</button>
  <table>
    <tr>
      <th>设备ID</th>
      <th>设备名</th>
      <th>型号</th>
      <th>入库日期</th>
      <th>操作员</th>
      <th>维护人</th>
      <th>状态</th>
    </tr>
    {% for device in devices %}
    <tr data-id="{{device.id}}">
      <td>{{device.id}}</td>
      <td>{{device.equipment.name}}</td>
      <td>{{device.equipment.model}}</td>
      <td>{{device.inbound.inbound_date|date:"Y-m-d"}}</td>
      <td>{{device.inbound.inbound_operator.real_name}}</td>
      <td>{{device.maintainer.real_name}}</td>
      {% if device.state == 'bad' %}
      <td>故障</td>
      {% elif device.state == 'maintaining' %}
      <td>检修中</td>
      {% else %}
      <td>{{device.get_state_display}}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
</div>
