venv
media
.env
*.log
*.pot
*.pyc
__pycache__
/./app/migrations/__pycache__
/./app/__pycache__
/./equipment_manager/__pycache__
/./postsale/migrations/__pycache__
/./postsale/__pycache__
/./presale/migrations/__pycache__
/./presale/__pycache__
/./maintainance/migrations/__pycache__
/./maintainance/__pycache__
/./api/migrations/__pycache__
/./api/__pycache__
/./info_manager/migrations/__pycache__
/./info_manager/__pycache__
/./venv/lib/python3.10/site-packages/dj_rest_auth/__pycache__
/./venv/lib/python3.10/site-packages/schedule/__pycache__
/./venv/lib/python3.10/site-packages/dotenv/__pycache__
/./venv/lib/python3.10/site-packages/asgiref/__pycache__
/./venv/lib/python3.10/site-packages/sqlparse/filters/__pycache__
/./venv/lib/python3.10/site-packages/sqlparse/__pycache__
/./venv/lib/python3.10/site-packages/sqlparse/engine/__pycache__
/./venv/lib/python3.10/site-packages/pytz/__pycache__
/./venv/lib/python3.10/site-packages/corsheaders/__pycache__
/./venv/lib/python3.10/site-packages/PIL/__pycache__
/./venv/lib/python3.10/site-packages/rest_framework/templatetags/__pycache__
/./venv/lib/python3.10/site-packages/rest_framework/authtoken/migrations/__pycache__
/./venv/lib/python3.10/site-packages/rest_framework/authtoken/__pycache__
/./venv/lib/python3.10/site-packages/rest_framework/utils/__pycache__
/./venv/lib/python3.10/site-packages/rest_framework/__pycache__
/./venv/lib/python3.10/site-packages/rest_framework/schemas/__pycache__
/./venv/lib/python3.10/site-packages/psycopg2/__pycache__
/./venv/lib/python3.10/site-packages/whitenoise/__pycache__
/./venv/lib/python3.10/site-packages/whitenoise/runserver_nostatic/management/__pycache__
/./venv/lib/python3.10/site-packages/whitenoise/runserver_nostatic/management/commands/__pycache__
/./venv/lib/python3.10/site-packages/whitenoise/runserver_nostatic/__pycache__
/./venv/lib/python3.10/site-packages/reportlab/platypus/__pycache__
/./venv/lib/python3.10/site-packages/reportlab/pdfbase/__pycache__
/./venv/lib/python3.10/site-packages/reportlab/pdfgen/__pycache__
/./venv/lib/python3.10/site-packages/reportlab/__pycache__
/./venv/lib/python3.10/site-packages/reportlab/lib/__pycache__
/./venv/lib/python3.10/site-packages/django/templatetags/__pycache__
/./venv/lib/python3.10/site-packages/django/middleware/__pycache__
/./venv/lib/python3.10/site-packages/django/forms/__pycache__
/./venv/lib/python3.10/site-packages/django/core/cache/backends/__pycache__
/./venv/lib/python3.10/site-packages/django/core/cache/__pycache__
/./venv/lib/python3.10/site-packages/django/core/mail/__pycache__
/./venv/lib/python3.10/site-packages/django/core/checks/compatibility/__pycache__
/./venv/lib/python3.10/site-packages/django/core/checks/security/__pycache__
/./venv/lib/python3.10/site-packages/django/core/checks/__pycache__
/./venv/lib/python3.10/site-packages/django/core/management/__pycache__
/./venv/lib/python3.10/site-packages/django/core/management/commands/__pycache__
/./venv/lib/python3.10/site-packages/django/core/__pycache__
/./venv/lib/python3.10/site-packages/django/core/serializers/__pycache__
/./venv/lib/python3.10/site-packages/django/core/files/__pycache__
/./venv/lib/python3.10/site-packages/django/core/handlers/__pycache__
/./venv/lib/python3.10/site-packages/django/core/servers/__pycache__
/./venv/lib/python3.10/site-packages/django/test/__pycache__
/./venv/lib/python3.10/site-packages/django/dispatch/__pycache__
/./venv/lib/python3.10/site-packages/django/template/backends/__pycache__
/./venv/lib/python3.10/site-packages/django/template/__pycache__
/./venv/lib/python3.10/site-packages/django/template/loaders/__pycache__
/./venv/lib/python3.10/site-packages/django/utils/translation/__pycache__
/./venv/lib/python3.10/site-packages/django/utils/__pycache__
/./venv/lib/python3.10/site-packages/django/__pycache__
/./venv/lib/python3.10/site-packages/django/contrib/messages/__pycache__
/./venv/lib/python3.10/site-packages/django/contrib/messages/storage/__pycache__
/./venv/lib/python3.10/site-packages/django/contrib/auth/migrations/__pycache__
/./venv/lib/python3.10/site-packages/django/contrib/auth/management/__pycache__
/./venv/lib/python3.10/site-packages/django/contrib/auth/__pycache__
/./venv/lib/python3.10/site-packages/django/contrib/admin/templatetags/__pycache__
/./venv/lib/python3.10/site-packages/django/contrib/admin/migrations/__pycache__
/./venv/lib/python3.10/site-packages/django/contrib/admin/__pycache__
/./venv/lib/python3.10/site-packages/django/contrib/admin/views/__pycache__
/./venv/lib/python3.10/site-packages/django/contrib/staticfiles/management/__pycache__
/./venv/lib/python3.10/site-packages/django/contrib/staticfiles/management/commands/__pycache__
/./venv/lib/python3.10/site-packages/django/contrib/staticfiles/__pycache__
/./venv/lib/python3.10/site-packages/django/contrib/__pycache__
/./venv/lib/python3.10/site-packages/django/contrib/sites/__pycache__
/./venv/lib/python3.10/site-packages/django/contrib/postgres/forms/__pycache__
/./venv/lib/python3.10/site-packages/django/contrib/postgres/__pycache__
/./venv/lib/python3.10/site-packages/django/contrib/postgres/fields/__pycache__
/./venv/lib/python3.10/site-packages/django/contrib/sessions/migrations/__pycache__
/./venv/lib/python3.10/site-packages/django/contrib/sessions/backends/__pycache__
/./venv/lib/python3.10/site-packages/django/contrib/sessions/__pycache__
/./venv/lib/python3.10/site-packages/django/contrib/contenttypes/migrations/__pycache__
/./venv/lib/python3.10/site-packages/django/contrib/contenttypes/management/__pycache__
/./venv/lib/python3.10/site-packages/django/contrib/contenttypes/__pycache__
/./venv/lib/python3.10/site-packages/django/contrib/admindocs/__pycache__
/./venv/lib/python3.10/site-packages/django/http/__pycache__
/./venv/lib/python3.10/site-packages/django/urls/__pycache__
/./venv/lib/python3.10/site-packages/django/db/migrations/__pycache__
/./venv/lib/python3.10/site-packages/django/db/migrations/operations/__pycache__
/./venv/lib/python3.10/site-packages/django/db/backends/postgresql/__pycache__
/./venv/lib/python3.10/site-packages/django/db/backends/__pycache__
/./venv/lib/python3.10/site-packages/django/db/backends/base/__pycache__
/./venv/lib/python3.10/site-packages/django/db/models/__pycache__
/./venv/lib/python3.10/site-packages/django/db/models/functions/__pycache__
/./venv/lib/python3.10/site-packages/django/db/models/fields/__pycache__
/./venv/lib/python3.10/site-packages/django/db/models/sql/__pycache__
/./venv/lib/python3.10/site-packages/django/db/__pycache__
/./venv/lib/python3.10/site-packages/django/views/decorators/__pycache__
/./venv/lib/python3.10/site-packages/django/views/__pycache__
/./venv/lib/python3.10/site-packages/django/views/generic/__pycache__
/./venv/lib/python3.10/site-packages/django/conf/locale/__pycache__
/./venv/lib/python3.10/site-packages/django/conf/__pycache__
/./venv/lib/python3.10/site-packages/django/conf/urls/__pycache__
/./venv/lib/python3.10/site-packages/django/apps/__pycache__
