*,*::before,*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
}
.menu{
    width: 25%;
    min-height: 100vh;
    background: #3DAAC2;
    position: relative;
}
.main-content {
    width: 70%;
    height: 100%;
}

.logo{
    display: block;
    width: 100px;
    margin-left: 20px;
}
.menu-info {
    color:white;
}
.info {
    position: relative;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.info h5 {
    margin-block-start:0px;
    margin-block-end:0px;
    margin: 0;
    padding: 0;
    margin-left:10px;
}
.info h3 {
    margin-block-start:0px;
    margin-block-end:0px;
    margin: 0;
    padding: 0;
    margin-left:15px;
}
.title,.contact {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 5px;
}
.separator {
    width: 100%;
    height: 2px;
    background: white;
}
.photo {
    width: 80px;
    border-radius: 100px;
    position: absolute;
    right: 20px;
    top: -15px;
    border: 5px solid #3DAAC2;
}
.menu-items {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    width: 100%;
}
.menu-item {
    width: 100%;
    padding:0.5em 2em;
    font-size: 0.625rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menu-item i {
    color:#fcc60d;
    font-size:10px;
}
.menu-item-title {
    display: flex;
    align-items: center;
}

.menu-item-title i {
    width: 25px;
    height: 25px;
    font-size:25px;
    color:#fcc60d;
    background-color: 3DAAC2;
    margin-right: 10px;
}
.menu-second {
    background-color: white;
    color:#3DAAC2;
    padding-left: 3em;
}
.menu-second:hover{
    background-color: lightgray;
}

.btn-logout {
    position: absolute;
    display: block;
    border:none;
    padding: 0.3em;
    background-color: #efb800;
    text-decoration: none;
    width: 90%;
    left: 50%;
    right: 50%;
    bottom: 5px;
    transform: translate(-50%,-50%);
    text-align: center;
    color:white;
    text-transform: uppercase;
    border-radius: 7px;
    padding:0.5em;
}
.btn-logout:hover {
    background-color: #fcc60d;
}

/* utilities */
.hide {
    display: none;
    transition: 0.5s;
}
