{% load static %}  
<div id="container-profile">
    <form id="password-form" onsubmit="updateUserPasswordSubmit(event)" > 
        {% csrf_token %}     
        <div id="profile-title">
            <img id="profile-title-image" src="{% static 'images/photo.png'%}" alt="photo">
            <h3>{{ request.user.real_name }}</h3>
            <h5>{{ request.user.role }}</h5>
        </div>
        <div id="profile-detail">
            <div class="field">
                {{ form.old_password.errors }}
                <label for="{{ form.old_password.id_for_label }}">旧密码</label> 
                {{ form.old_password }}
            </div>
            <div class="field">
                {{ form.new_password1.errors }}
                <label for="{{ form.new_password1.id_for_label }}">新密码</label> 
                {{ form.new_password1 }}
            </div>
            <div class="field">
                {{ form.new_password2.errors }}
                <label for="{{ form.new_password2.id_for_label }}">确认新密码</label> 
                {{ form.new_password2 }}
            </div>
            <div id="btn-container">
                <button id="submit" type="submit">更新密码</button>
            </div>        
        </div>
    </form>
</div>