<div class="content-container">
    <h1>角色管理</h1>
    <div class="panel">
        <div class="title">
            <select id="role-list">
                {% if role_id %}
                    {% for role in roles %}
                        {% if role_id == role.id %}
                        <option value="{{ role.id }}" selected>{{ role }}</option>
                        {% else %}
                        <option value="{{ role.id }}">{{ role }}</option>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for role in roles %}
                        {% if role.id == request.user.role.id %}
                        <option value="{{ role.id }}" selected>{{ role }}</option>
                        {% else %}
                        <option value="{{ role.id }}">{{ role }}</option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </select>
            <button class="btn">添加新角色</button>
        </div>
        <div class="list-container">
            <ul id="from-list">
                {% for parent_module in parent_modules %}
                    <li data-module-id="{{ parent_module.id }}">{{ parent_module }}</li>
                    {% for child_module in child_modules %}
                        {% if child_module.parent_module == parent_module %}
                            <li data-module-id="{{ child_module.id }}" data-parent-module-id="{{ child_module.parent_module.id }}" ondblclick="addModule(event)">--{{ child_module }}</li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
            <ul id="to-list">
                {% for parent_module in current_parent_modules %}
                <li data-module-id="{{ parent_module.id }}">{{ parent_module }}</li>
                {% for child_module in current_child_modules %}
                    {% if child_module.parent_module == parent_module %}
                        <li data-module-id="{{ child_module.id }}"  data-parent-module-id="{{ child_module.parent_module.id }}" ondblclick="removeModule(event)">--{{ child_module }}</li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
        <button class="btn" onclick="updateRole()">更新权限</button>
    </div>
</div>