<div class="content-container">
    <h1>仓库管理</h1>
    <div class="operations">
        <button class="btn" onclick="warehouseCreate()">添加新仓库</button>
    </div>
    <table>
        <tr>
            <th>编号</th>
            <th>名称</th>
            <th>位置</th>
            <th>描述</th>
            <th>操作</th>
        </tr>
        {% for warehouse in warehouses %}
        <tr data-id="{{warehouse.id}}" ondblclick="enableWarehouseEdit(this)">
            <td><input type="text" name="number" value="{{warehouse.number}}"   style="width: 70px;" disabled></td>
            <td><input type="text" name="name" value="{{warehouse.name}}" disabled></td>
            <td><input type="text" name="location" value="{{warehouse.location}}" disabled></td>
            <td><input type="text" name="description" value="{{warehouse.description}}" disabled></td> 
            <td><button class="btn" onclick="updateWarehouse(event)">修改</button><button class="btn" onclick="deleteWarehouse(event)">删除</button><button class="btn" onclick="deviceListByWarehouse(event)">设备</button></td>      
        </tr>
        {% endfor %}
    </table>
</div>