<div class="content-container">
    <h1>已售设备管理</h1>
    <div class="operations" id="sold-device-operation">
        <input type="text" id="equipment-name" name="equipment-name" placeholder="设备名称" value="{{equipment_name}}">
        <input type="text" id="buyer" name="buyer" placeholder="客户名称" value="{{buyer}}">
        <input type="text" id="fix-address" name="fix-address" placeholder="安装地点" value="{{fix_address}}">
        <select name="state" id="state">
            <option value="">全部</option>
            <option value="good" {% if state == "good" %}selected{% endif %}>良好</option>
            <option value="bad" {% if state == "bad" %}selected{% endif %}>故障</option>
            <option value="maintaining" {% if state == "maintaining" %}selected{% endif %}>检修中</option>
        </select>
        <button class="btn" onclick="searchSoldDevice(event)">查询</button>
    </div>
    <table>
        <tr>
            <th>设备ID</th>
            <th>设备名称</th>
            <th>客户名称</th>           
            <th>型号</th>
            <th>安装位置</th>
            <th>状态</th>  
            <th>维护人</th> 
            <th>操作</th>         
        </tr>
        {% for sold_device in sold_devices %}
        <tr data-id="{{sold_device.id}}" {% if sold_device.state == "good" %}ondblclick="enableDeviceEdit(this)" onmouseleave="disableDeviceEdit(this)" {% endif %}>
            <td>{{sold_device.device.id}}</td>
            <td>{{sold_device.device.equipment.name}}</td>
            <td>{{sold_device.outbound.buyer.name}}</td>   
            <td>{{sold_device.device.equipment.model}}</td>  
            <td><input name="fix-address" type="text" value="{{sold_device.fix_address}}" disabled></td>
            <td>
                {% if sold_device.state == "good" %}
                良好
                {% elif sold_device.state == "bad" %}
                故障
                {% elif sold_device.state == "maintaining" %}
                维修中
                {% endif %}
            </td>
            <td>
                <select name="maintainer" disabled>
                    {% for maintainer in maintainers %}
                    <option value="{{maintainer.id}}" {% if sold_device.device.maintainer.id == maintainer.id %}selected{%endif%}>{{maintainer.real_name}}</option>
                    {%endfor%}
                </select>
            </td>
            <td><button class="btn" onclick="updateSoldDevice(event)">更新</button></td>                 
        </tr>
        {% endfor %}
    </table>
    <div
    class="pagination"
    style="width: 50%; display: flex; justify-content: flex-end"
  >
    <span class="current">
      共 {{ page_obj.number }} 页,当前第 {{ page_obj.paginator.num_pages }} 页.
    </span>
    {% if page_obj.has_previous %}
    <button
      class="btn"
      onclick="gotoPage(event,`postsale/device-sold-list/?fix_address=${document.getElementById('fix-address').value}&buyer=${document.getElementById('buyer').value}&equipment_name=${document.getElementById('equipment-name').value}&state=${document.getElementById('state').value}`,'1')"
    >
      首页
    </button>
    <button
      class="btn"
      onclick="gotoPage(event,`postsale/device-sold-list/?fix_address=${document.getElementById('fix-address').value}&buyer=${document.getElementById('buyer').value}&equipment_name=${document.getElementById('equipment-name').value}&state=${document.getElementById('state').value}`,'{{ page_obj.previous_page_number }}')"
    >
      上一页
    </button>
    {% endif %} {% if page_obj.has_next %}
    <button
      class="btn"
      onclick="gotoPage(event,`postsale/device-sold-list/?fix_address=${document.getElementById('fix-address').value}&buyer=${document.getElementById('buyer').value}&equipment_name=${document.getElementById('equipment-name').value}&state=${document.getElementById('state').value}`,'{{ page_obj.next_page_number }}')"
    >
      下一页
    </button>
    <button
      class="btn"
      onclick="gotoPage(event,`postsale/device-sold-list/?fix_address=${document.getElementById('fix-address').value}&buyer=${document.getElementById('buyer').value}&equipment_name=${document.getElementById('equipment-name').value}&state=${document.getElementById('state').value}`,'{{ page_obj.paginator.num_pages }}')"
    >
      尾页
    </button>
    {% endif %}
  </div>
</div>